<%= form_with(model: car, html: {class: 'm-4'}) do |form| %>
  <% if car.errors.any? %>
    <div id="error_explanation" class="alert alert-danger" role="alert">
      <h2><%= t('general.error', :count => car.errors.count) %> <%= t('cars.invalid') %>:</h2>

      <ul>
        <% car.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label t('cars.name'), class: 'form-label fs-6' %>
    <%= form.text_field :name, class: 'form-control mb-4 w-25' %>
  </div>

  <div class="field">
    <%= form.label t('cars.description'), class: 'form-label fs-6' %>
    <%= form.text_area :description, class: 'form-control mb-4 w-25' %>
  </div>

  <div class="field">
    <%= form.label t('cars.image_url'), class: 'form-label fs-6' %>
    <%= form.text_field :image_url, class: 'form-control mb-4 w-25' %>
  </div>

  <div class="field">
    <%= form.label t('cars.model'), class: 'form-label fs-6' %>
    <%= form.number_field :model, class: 'form-control mb-4 w-25' %>
  </div>

  <div class="field">
    <%= form.label t('cars.hourly_rate'), class: 'form-label fs-6' %>
    <%= form.number_field :hourly_rate, step: :any, class: 'form-control mb-4 w-25' %>
  </div>

  <div class="actions btn-group">
    <%= form.submit t('cars.offer_action'), class: 'btn btn-success' %>  
<% end %>
