<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @car.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @car.description %>
</p>

<p>
  <strong>Image url:</strong>
  <%= @car.image_url %>
</p>

<p>
  <strong>Model:</strong>
  <%= @car.model %>
</p>

<p>
  <strong>Hourly rate:</strong>
  <%= @car.hourly_rate %>
</p>

<p>
  <strong>User:</strong>
  <%= @car.user_id %>
</p>

<%# #Create form for booking car %>
<strong>Reservar:</strong>
<%= form_with(model: @booking, local: true) do |f| %>
  <%= f.label :hours %>
  <%= f.number_field :hours %>
  <%= f.hidden_field :car_id, value: @car.id %>
  <%= hidden_field_tag 'selected', 'none'  %>
  
  <%= f.submit 'Reservar' %>
<% end %>  

<%= link_to 'Edit', edit_car_path(@car) %> |
<%= link_to 'Back', cars_path %>
